<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.windowTitle}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
        <h:outputScript library="javascript" name="checkPassword.js"/>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2" columnClasses="evenColumns, oddColumns">
                #{msgs.namePrompt}
                <h:inputText/>
                #{msgs.passwordPrompt}
                <h:inputSecret id="password"/>
                #{msgs.confirmPasswordPrompt}
                <h:inputSecret id="passwordConfirm"/>
            </h:panelGrid>
            <h:commandButton type="button" value="Submit Form"
                             onclick="checkPassword(this.form)"/>
        </h:form>
    </h:body>
</html>
